/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: url("../images/bgtile.png") repeat-x;
}

main {
    width: 85%;
    max-width: 900px;
    margin: 100px auto;
}

/* phone images and content side by side */
section.phone-images {
    display: inline-block;
    width: 40%;
    text-align: center;
}

section.header-description {
    display: inline-block;
    width: 55%;
}

/* Instagram logo and login button side by side*/

h1 {
    display: inline-block;
    width: 80%;
}

.login-button {
    display: inline-block;
}

/* add background image to description section */
.description {
  background: url("../images/frame.png") no-repeat;
  background-size: 100%;
  padding: 10px 40px;
}
